<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a id="profile" class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Edit profile</a>
    </li>
    <li class="nav-item">
        <a id="change-password" class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">Password</a>
    </li>
    <li class="nav-item">
        <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a>
    </li>
    <li class="nav-item">
        <a id="two-factor" class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
    </li>
    <li class="nav-item">
        <a id="personal-data" class="nav-link @ManageNavPages.DeleteProfileNavClass(ViewContext)" asp-page="./DeleteProfile">Delete profile</a>
    </li>
</ul>
